{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="yoga, belém, pará, naira, lira">
    <meta name="description" content='Naira Lira Yoga - "Yoga permite-lhe encontrar um novo tipo de liberdade, que talvez você nem sabia que existia" B.K.S Iyenhar. Descubra-se!'>
    <meta name="author" content="Naira Lira">

    <title>Naira Lira Yoga</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">

    <!-- Pongstagr CSS -->
    {% load staticfiles %}
    <link href="{% static 'css/pongstagr.am.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa"><img src="{% static 'img/logo_nairalirayoga.png' %}" alt="Generic placeholder image" style="width: 40px; height: 40px;"></i> <span class="light">Naira Lira</span> Yoga
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hiden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#professores-section">Professores</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#horarios-section">Horários</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#galeria-section">Galeria</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#valores-section">Valores</a>
                    </li>
               <!--     <li>
                        <a class="page-scroll" href="#blog">Blog</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#contatos">Contatos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div>
                <br>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for i in nimagens %}
                            {% if i == 0 %}
                                <li data-target="#myCarousel" data-slide-to="{{ i }}" class="active"></li>
                            {% else %}
                                <li data-target="#myCarousel" data-slide-to="{{ i }}"></li>
                            {% endif %}
                        {% endfor %}
                    </ol>

                    <div class="carousel-inner" role="listbox">
                        {% for image in imagens %}
                            {% if image == imagens.0 %}
                                <div class="item active">
                                    <img src="media/{{ image.foto }}" alt="Chania">
                                    <div class="carousel-caption">
                                      <h1>{{ image.titulo }}{{ loop.index }}</h1>
                                      <p class="intro-text">{{ image.descricao }}</p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="item">
                                    <img src="media/{{ image.foto }}" alt="Chania">
                                    <div class="carousel-caption">
                                      <h1>{{ image.titulo }}{{ loop.index }}</h1>
                                      <p class="intro-text">{{ image.descricao }}</p>
                                    </div>
                                </div>
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Professor Section -->
    <section id="professores-section" class="professores-section content-section text-center">
        <div class="container marketing">
            <!-- Three columns of text below the carousel -->
            <div class="row">
                {% for p in professores %}
                    <div class="col-lg-12">
                        <img class="img-circle" src="media/{{ p.foto }}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                        <h2>{{ p.nome }} {{ p.sobrenome }}</h2>
                        <p>{{ p.descricao }}</p>
                        <p><a class="btn btn-default" href="#" role="button">Mais Detalhes &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                {% endfor %}
            </div><!-- /.row -->
        </div>
    </section>

    <!-- Horarios e Valores Section -->
        <section id="horarios-section" class="horarios-section content-section text-center">
        <div class="horarios-section row">

                <div class="col-lg-8 col-lg-offset-2">

                    <div class="header">
                        <h1 class="site-title"> Horários </h1>
                    </div>

              <div class="row">
                  <ul>
                  {% for horario in horarios %}
                      <li style="list-style: outside none none;">
                        <div class="row">
                            <div id="weekdays" class="col-xs-2" style="color: #FF7A46;">
                                <h3>{{ horario.dia_semana }}</h3>
                            </div>
                            <div class="col-xs-10">
                              <ul id="weekdays_content">
                                  {% for h in horario.values %}
                                        <li>
                                          <div class="row">
                                            <div id="description" class="col-xs-8">
                                            <p>{{ h.descricao }}</p>
                                            </div>
                                            <div id="info" class="col-xs-4">
                                              <div id="horario">{{ h.horario }}</div>
                                              <div id="local">{{ h.local }}</div>
                                            </div>
                                          </div>
                                        </li>
                                  {% endfor %}
                              </ul>
                            </div>
                        </div>
                      </li>
                  {% endfor %}
                  </ul>


              </div>
        </div>


        </div>
    </section>

    <section id="galeria-section" class="content-section">
           <div class="container marketing">
                <div id="gallery" class="row col-xs-12">

                </div>

                <a id="gallery_more_photos" class="btn btn-default" href="/foto_galeria/" role="button">Mais Fotos »</a>
           </div>



    </section>


    <!-- Horarios e Valores Section -->
    <section id="valores-section" class="valores-section content-section text-center">
        <div class="valores-section container">
            {% for preco in precos %}
                <div class="row">
                    <div class="col-lg-12">
                        <h2 style="color: #ECF958">{{ preco.atividade }}</h2>
                    </div>
                <div>
                <div class="row">
                    {% for p in preco.values %}
                        <div class="col-lg-3">
                            <div class="plano-preco">
                                <span>$ {{ p.valor }}</span>
                                <h3>{{ p.dias }}</h3>
                            </div>
                        </div>
                    {% endfor %}
                <div>

            {% endfor %}
        </div>
    </section>

    <!-- Contato Section -->
    <section id="contatos" class="contatos container content-section text-center">
        <div class="container" >
            <div id="popover_contato" class="btn large primary" rel="popover">
                <div class="col-lg-12">
		    <ul class="list-unstyled">
			<li><i class="fa fa-map-marker info-color"></i> Rua Domindos Marreiros , Ed. Village Empresarial nº49, Belém-PA</li>
			<li><i class="fa fa-envelope info-color"></i> nairalira@hotmail.com</li>
		    	<li><i class="fa fa-phone info-color"></i> +55 91 8181-7474</li>
                        <li><i class="fa fa-facebook fa-fw"></i><a href="https://www.facebook.com/yogabelem?ref=br_tf" target="_blank">Yoga Belém</a></li>
		    </ul>
		</div>
            </div>

        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer container text-center">
            <p>Copyright &copy; nairalirayoga.com.br 2016</p>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="{% static 'js/jquery-1.11.0.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en" type="text/javascript"></script>

    <script type="text/javascript" src="{% static 'js/gmap3.min.js' %}"></script>

    {% load staticfiles %}
    <script src="{% static "js/pongstagr.am.min.js" %}"></script>

    <!--<script type="text/javascript" src="{% static 'js/gmap_contato.js' %}"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/grayscale.js' %}"></script>

     <script type="text/javascript" src="{% static 'js/popover_map.js' %}"></script>

    <script type="text/javascript">

            $(function() {

                /*$("#gallery").gridalicious({
                             width: 300
                   });*/

                $("#gallery").pongstgrm({
                               show: 'recent',
                               accessId:     '248815138',
                               accessToken:  '248815138.78ac6d9.6798b2d967db413fbc0f27bd1dc0f84f',
                               column: 'col-xs-3 col-sm-3',  // you use customized columns
                               count: 4                      // set the number of media to display
                });
            });
    </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58386640-1', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>

